{% extends 'base.html' %}

{% block title %}Welcome to Personal Budget{% endblock %}

{% block body %}

<div class="container bg-white text-center col-12 col-sm-8 col-md-6 col-lg-5 col-xl-4 mt-sm-5 p-1 p-sm-3 shadow">
	<a id="logo" href="/"><h1>Personal Budget</h1>
	<p class="heading">Take control of your finances</p></a>

	<h4>{{ current_user.username }}, what you're gonna do?</h4>

	{% for message in flash_messages %}
		<div id="addingOperationMessage">
			{{ message }}
		</div>
	{% endfor %}

	<div class="mt-3" id="main-menu">
		<a href="/AddIncome/index"><button type="button" class="btn btn-primary btn-block">Add income</button></a>
		<a href="/AddExpense/index"><button type="button" class="btn btn-primary btn-block">Add expense</button></a>
		<a href="/ShowBalance/index"><button type="button" class="btn btn-primary btn-block">Show balance</button></a>
		<button type="button" class="btn btn-primary btn-block">Settings</button>
		<a href="/logout"><button type="button" class="btn btn-primary btn-block">Logout</button></a>
	</div>
	
</div>

{% endblock %}
