body
{
	background-image: url("img/bg.png");
}

h1
{
	font-family: 'Anton', sans-serif;
	font-size: 40px;
}

.heading
{
	font-family: 'Pacifico', cursive;
	font-size: 24px;
}

.border
{
	border: 1px solid #000000!important;
}

#chartIncomesContainer,
#chartExpensesContainer
{
	min-width: 300px;
	max-width: 350px;
	min-height: 300px;
	max-height: 350px;
	padding: 0;
	margin-left: auto;
	margin-right: auto;
}

button
{
	margin:5px 0!important;
}

/* unvisited link */
a:link 
{
  color: blue;
  text-decoration: none;
}

/* visited link */
a:visited 
{
  color: blue;
  text-decoration: none;
}

/* mouse over link */
a:hover 
{
  color: #000099!important;
  text-decoration: none!important;
}

/* selected link */
a:active 
{
  color: #200000;
  text-decoration: none;
}

#logo
{
	color: #200000;
}

#addingOperationMessage,
{
	color: #1804fe;
	font-style: italic;
	vertical-align: middle;
}

#amount-error,
#dates-error,
#comment-error
{
	margin-left: auto;
    margin-right: auto;
	font-style: italic;
	color: red;
}

.noOperationsInTime,
#logoutMessage
{
	color: #1804fe;
	font-style: italic;
	margin: 10px 5px 10px 5px;
}