{% extends 'base.html' %}

{% block title %}Your balance in Personal Budget{% endblock %}

{% block footer %}

	<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>

	<script>

	window.onload = function() 
	{
		var chart_with_incomes = new CanvasJS.Chart("chartIncomesContainer", 
			{
				animationEnabled: true,
				title: 
				{
					text: "Summary of your incomes"
				},
				data: [
				{
					type: "doughnut",
					startAngle: 270,
					yValueFormatString: "##0.00\"\"",
					indexLabel: "{label} {y}",
					dataPoints: 
					[
						{% for value in incomes_by_categories %}
							{ label: {{ value.name|json_encode()|raw }}, y: {{ value.sum|json_encode()|raw }} },
						{% endfor %}
					]
				}]
			});

		chart_with_incomes.render();
		
		var chart_with_expenses = new CanvasJS.Chart("chartExpensesContainer", 
			{
				animationEnabled: true,
				title: 
				{
					text: "Summary of your expenses"
				},
				data: [
				{
					type: "doughnut",
					startAngle: 270,
					yValueFormatString: "##0.00\"\"",
					indexLabel: "{label} {y}",
					dataPoints: 
					[
						{% for value in expenses_by_categories %}
							{ label: {{ value.name|json_encode()|raw }}, y: {{ value.sum|json_encode()|raw }} },
						{% endfor %}
					]
				}]
			});

		chart_with_expenses.render();
	}
	
	
	</script>

{% endblock %}

{% block body %}

<div class="container bg-white text-center col-12 col-lg-10 col-xl-8 mt-lg-5 p-1 p-lg-3 shadow">
	<a id="logo" href="/"><h1>Personal Budget</h1>
	<p class="heading">Take control of your finances</p></a>

	<fieldset class="border">
	
		<legend class="border bg-light"> Your finances </legend>
		
		<form id="periodsOptionsForm" method="post" action="/ShowBalance/show">
			<div class="input-group mb-2 w-75 mx-auto">
				<div class="input-group-prepend w-50">
					<span class="input-group-text w-100 justify-content-center">Select period of time</span>
				</div>
				<select id="periodsOptions" name="periodsOptions" class="w-50" onchange="if(this.options[this.selectedIndex].value!='custom'){ this.form.submit(); }">
					<option value="current_month">Current month</option>
					<option value="previous_month">Previous month</option>
					<option value="current_year">Current year</option>
					<option value="custom">Custom</option>
				</select>
			</div>
		</form>
		
		<a href="/MainMenu/index"><button type="button" class="btn btn-primary">Back to main menu</button></a>
	
		<script>

		$('#periodsOptions').change(function() 
		{ 
			var selVal = $(this).val();
			sessionStorage.setItem("SelItem", selVal);
			
		});
		
		var selItem = sessionStorage.getItem("SelItem");  
		$('#periodsOptions').val(selItem);
		
		if (selItem == null) $('#periodsOptions').val("current_month");
		
		$("#periodsOptions").on("change", function () 
		{        
			$modal = $('#myModal');
			if($(this).val() === 'custom')
			{
				$modal.modal('show');
			}
		});
			
		</script>
		
		<div class="modal fade" id="myModal">
			<div class="modal-dialog">
				<div class="modal-content">
					<form method="post" action="/ShowBalance/show">
						<!-- Modal Header -->
						<div class="modal-header">
							<h4 class="modal-title">Select custom period of time: </h4>
							<button type="button" class="close" data-dismiss="modal">&times;</button>
						</div>
					
						<!-- Modal body -->
						<div class="modal-body">
							<div class="input-group mb-2 w-75">
								<div class="input-group-prepend w-25">
									<span class="input-group-text w-100 justify-content-center">Start:</span>
								</div>
								<input type="date" name="custom_start" class="form-control" required>
							</div>
							<div class="input-group mb-2 w-75">
								<div class="input-group-prepend w-25">
									<span class="input-group-text w-100 justify-content-center">End:</span>
								</div>
								<input type="date" name="custom_end" class="form-control" required>
							</div>
						</div>
					
						<!-- Modal footer -->
						<div class="modal-footer">
						<input type="submit" class="btn btn-primary" name="customize_period" value="OK">
						<button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
						</div>
					</form>
				</div>
			</div>
		</div>
		
		{% if total_income.sum - total_expense.sum >= 0 %}
			<div class="bg-success py-2 px-4">
				<h5 class="font-weight-bold">Total balance: {{ total_income.sum - total_expense.sum }} EUR</h5>
				<h5 class="font-weight-bold">Congratulations! You manage your finances very well!</h5>
			</div>
		{% else %}
			<div class="bg-danger py-2 px-4">
				<h5 class="font-weight-bold">Total balance: {{ total_income.sum - total_expense.sum }} EUR</h5>
				<h5 class="font-weight-bold">Be careful, you run into debt!</h5>
			</div>
		{% endif %}
		
		<fieldset class="border m-3">
		
			<legend class="border"> Your incomes </legend>
		  
			<div class="d-md-flex justify-content-around m-2">
				<table class="table table-striped m-2 col-11 col-md-6">
					<col width="10%">
					<col width="45%">
					<col width="45%">
					<thead>
						<tr>
							<th>Edit</th>
							<th>Category</th>
							<th>Amount</th>
						</tr>
					</thead>
					<tbody>
					<form id= "editIncome" method="post" action="/EditSingleIncome/index">
					{% for name, sum in incomes_by_categories %}
						<tr><td><input onclick="document.getElementById('editIncome').submit();" type="radio" name="income" value="{{ incomes_by_categories[loop.index0].name }}"></td> <td>{{ incomes_by_categories[loop.index0].name }}</td><td> {{ incomes_by_categories[loop.index0].sum }} </td></tr>
					{% endfor %}
					</form>
					<thead>
						<tr>
							<th></th>
							<th>Total</th>
							<th>{{ total_income.sum }}</th>
						</tr>
					</thead>
					</tbody>
				</table>
				
				{% if total_income.sum > 0 %}
					<div id="chartIncomesContainer" class="col-11 col-md-7"></div>
				{% else %}
					<div class="noOperationsInTime">You have no incomes in selected period of time</div>
				{% endif %}
				
			</div>	
		</fieldset>
		
		{% for message in flash_messages %}
			<div>
				{{ message }}
			</div>
		{% endfor %}
	
		<fieldset class="border m-3">
		
			<legend class="border"> Your expenses </legend>
		  
			<div class="d-md-flex justify-content-around">
				<table class="table table-striped m-2 col-11 col-md-6">
					<col width="10%">
					<col width="45%">
					<col width="45%">
					<thead>
						<tr>
							<th>Edit</th>
							<th>Category</th>
							<th>Amount</th>
						</tr>
					</thead>
					<tbody>
					<form id= "editExpense" method="post" action="/EditSingleExpense/index">
					{% for name, sum in expenses_by_categories %}
						<tr><td><input onclick="document.getElementById('editExpense').submit();" type="radio" name="expense" value="{{ expenses_by_categories[loop.index0].name }}"></td> <td>{{ expenses_by_categories[loop.index0].name }}</td><td> {{ expenses_by_categories[loop.index0].sum }} </td></tr>
					{% endfor %}
					</form>
					<thead>
						<tr>
							<th></th>
							<th>Total</th>
							<th>{{ total_expense.sum }}</th>
						</tr>
					</thead>
					</tbody>
				</table>
				
				{% if total_expense.sum > 0 %}
					<div id="chartExpensesContainer" class="col-11 col-md-7"></div>	
				{% else %}
					<div class="noOperationsInTime">You have no expenses in selected period of time</div>
				{% endif %}					

			</div>	
		</fieldset>
	</fieldset>	
</div>

{% endblock %}
