{% extends 'base.html' %}

{% block title %}Add Expense to Personal Budget{% endblock %}

{% block footer %}

	<script>
		$(document).ready(function()
		{
			$('#formAddExpense').validate({
                rules: {
                    amount: {
						required: true,
						min: 0
					},
                    dates: {
                        required: true,
                        date: true
                    },
                    comment: {
						rangelength: [0, 100]
                    }
                },
                messages: {
                    amount: "Amount has to be a positive number with \"\.\" as a separator",
					dates: "Please enter the correct date in the \"dd.mm.yyyy\" format",
					comment: "The comment can be at maximum 100 characters long"
                }
            });
        });

		function checkTheLimit(str) 
		{
			$.get('/AddExpense/checkLimit', {'category': str}, function(response)
			{
				var limits = Number(response);
				sessionStorage.setItem("limits",limits);
				document.getElementById("limits").innerHTML = limits.toFixed(2);
			});
			
			$.get('/AddExpense/checkMoneySpent', {'category': str}, function(response)
			{
				var moneySpent = Number(response);
				sessionStorage.setItem("moneySpent",moneySpent);
				document.getElementById("moneySpent").innerHTML = moneySpent.toFixed(2);
			});			
			
			setTimeout ( function() 
			{
				if( sessionStorage.getItem("limits") > 0 )
				{
					document.getElementById("frameWithLimits").className = 'collapse show';
				}
				else
				{
					document.getElementById("frameWithLimits").className = 'collapse hide';
				}
			}, 400 );
			
			setTimeout ( function() 
			{
				if( sessionStorage.getItem("howMuchLeft") < 0)
				{
					document.getElementById("frameWithLimits").style = 'background-color: #FA8072;';
				}
				else
				{
					document.getElementById("frameWithLimits").style = 'background-color: #FFFFFF;';
				}
			}, 500 );
			
			setTimeout( function()
			{
				var limits = sessionStorage.getItem("limits");
				var moneySpent = sessionStorage.getItem("moneySpent");
				var amountAdded = document.getElementById("amount").value;
			
				var howMuchLeft = limits - moneySpent - amountAdded;
				sessionStorage.setItem("howMuchLeft",howMuchLeft);
				document.getElementById("howMuchLeft").innerHTML = howMuchLeft.toFixed(2);
			}, 400 );
		}
		

			
		function howMuchMoneyLeftToSpend()
		{
			setTimeout( function()
			{
				var limits = sessionStorage.getItem("limits");
				var moneySpent = sessionStorage.getItem("moneySpent");
				var amountAdded = document.getElementById("amount").value;
			
				var howMuchLeft = limits - moneySpent - amountAdded;
				sessionStorage.setItem("howMuchLeft",howMuchLeft);
				document.getElementById("howMuchLeft").innerHTML = howMuchLeft.toFixed(2);
			}, 500 );
		}
		
		function isAmountLeftBelowZero()
		{
			if( sessionStorage.getItem("howMuchLeft") < 0)
			{
				document.getElementById("frameWithLimits").className = 'collapse bg-danger shadow rounded-lg';
			}
			else
			{
				document.getElementById("frameWithLimits").className = 'collapse shadow rounded-lg';
			}
		}
		
		

	</script>

{% endblock %}

{% block body %}	

<div class="container bg-white text-center col-12 col-sm-8 col-md-6 col-lg-5 col-xl-4 mt-sm-5 p-1 p-sm-3 shadow">
	<a id="logo" href="/"><h1>Personal Budget</h1>
	<p class="heading">Take control of your finances</p></a>
				
	<h4>Add details of expense</h4>
	
	<div id="frameWithLimits" class="collapse hide">
		<h5>Limits in the category</h5>
		<div>Limit: <span id="limits"></span></div>
		<div>Money spent: <span id="moneySpent"></span></div>
		<div>Saldo after operation: <span id="howMuchLeft"></span></div>
	</div>

	<form method="post" action="/AddExpense/create" id="formAddExpense">
		<div class="input-group mb-2">
			<div class="input-group-prepend w-25">
				<span class="input-group-text w-100 justify-content-center">Amount</span>
			</div>
			<input id="amount" type="text" class="form-control" placeholder="0.00" name="amount" onkeyup="checkTheLimit(category.value);"/>									
		</div>
		
		<div>	
			{% if financialOperation.error_amount is not empty %}
				{% for error in financialOperation.error_amount %}
					{{ error }}
				{% endfor %}
			{% endif %}
		</div>
		
		<div class="input-group mb-2">
			<div class="input-group-prepend w-25">
				<span class="input-group-text w-100 justify-content-center">Date</span>
			</div>
			<input id="date" type="date" class="form-control" name="dates" onload="todayDate()"/>		
		</div>
		
		<script>
			let today = new Date().toISOString().substr(0, 10);
			document.querySelector("#date").value = today;
		</script>
		
		<div>
			{% if financialOperation.error_date is not empty %}
				{% for error in financialOperation.error_date %}
					<li>{{ error }}</li>
				{% endfor %}
			{% endif %}
		</div>
		
		<div class="input-group mb-2">
			<div class="input-group-prepend w-25">
				<span class="input-group-text w-100 justify-content-center">Category</span>
			</div>
			<div class="dropdown flex-grow-1">
				<select id="category" class="dropdown h-100 w-100" name="category" onchange="checkTheLimit(this.value);">
					{% for name in expenses_categories %}
						<option value="{{ expenses_categories[loop.index0].name }}">{{ expenses_categories[loop.index0].name }} 
						{% if expenses_categories[loop.index0].limits > 0 %}
							--- Limit: {{ expenses_categories[loop.index0].limits }}</option>
						{% endif %}
					{% endfor %}
				</select>
			</div>
		</div>
		
		<div class="input-group mb-2">
			<div class="input-group-prepend w-25">
				<span class="input-group-text w-100 justify-content-center">Payment by</span>
			</div>
			<div class="dropdown flex-grow-1">
				<select class="dropdown h-100 w-100" name="payment">
					{% for name in payment_methods %}
						<option>{{ payment_methods[loop.index0].name }}</option>
					{% endfor %}
				</select>
			</div>
		</div>
		
		<div class="input-group mb-2">
			<div class="input-group-prepend w-25">
				<span class="input-group-text w-100 justify-content-center">Comment</span>
			</div>
			<textarea class="form-control" name="comment" /></textarea>
		</div>
		
		<div>
			{% if financialOperation.error_comment is not empty %}
				{% for error in financialOperation.error_comment %}
					<li>{{ error }}</li>
				{% endfor %}
			{% endif %}
		</div>
		
		<div class="w-100 mt-2">
			<button type="submit" class="btn btn-primary mr-2">Add</button>
			<a href="/MainMenu/index"><button type="button" class="btn btn-primary">Cancel</button></a>
		</div>
	</form>
	
</div>

{% endblock %}
